<div class="row mb-2">
    <div class="container">
        <form #desechablesForm="ngForm" (ngSubmit)="addDesechable(desechablesForm)" method="POST">

            <input type="hidden" name="_id" [(ngModel)]="aboutService.selectedDesechables._id">

            <h1 class="font-weight-bold mb-4">Editar Metodos de Reciclaje</h1>
            <div class="mb-4">
                <label  class="form-label font-weight-bold">Material</label>
                <input type="text" class="form-control border-0" placeholder="Title"  aria-describedby="emailHelp" name="material" >
            </div>
            <div class="mb-4">
                <label  class="form-label font-weight-bold">Metodo de reciclaje</label>
                <textarea type="text" class="form-control border-0" placeholder="Description" name="uso" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
</div>
