<h2 class="pb-2 border-bottom">Settings Configurations</h2>
<div class="row g-5 py-5">
    <div class="feature col-md-4 ">
        <div class="container d-flex justify-content-between alin-items-center icons">
            <a [routerLink]="['/','indexedit']"><i class="fas fa-indent"></i></a>
        </div>
        <h2>Index Configurations</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a [routerLink]="['/','indexform']"><i class="fas fa-plus p-3"></i></a>
    </div>
    <div class="feature col-md-4 ">
        <div class="container d-flex justify-content-between alin-items-center icons">
            <a href="/editabout"><i class="fas fa-recycle"></i></a>
        </div>
        <h2>Methods Configurtions</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    </div>
    <div class="feature col-md-4 ">
        <div class="container d-flex justify-content-between alin-items-center icons">
            <a [routerLink]="['/','puntosedit']"><i class="fas fa-map-marked"></i></a>
        </div>
        <h2>Locations Configurations</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a [routerLink]="['/','puntosform']"><i class="fas fa-plus p-3"></i></a>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="row g-5 py-5">
    <div class="feature col-md-4 ">
        <div class="container d-flex justify-content-between alin-items-center icons">
            <a href=""><i class="fas fa-address-book"></i></a>
        </div>
        <h2>Show Profiles</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    </div>
</div>

